name: App on Push Tag

on:
  push:
    tags:
      - "app-v[0-9]+.[0-9]+.[0-9]"

permissions:
  contents: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-docker:
    name: build-and-push-docker
    uses: ./.github/workflows/docker.yml
    permissions:
      actions: read
      packages: write
      security-events: write

  generate-sbom:
    needs: build-and-push-docker
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Trivy
        uses: aquasecurity/setup-trivy@e6c2c5e321ed9123bda567646e2f96565e34abe1 # v0.2.4
        with:
          version: v0.67.0
          cache: true

      - name: Generate SBOM for the Docker image
        uses: ./.github/actions/trivy
        with:
          scan-type: 'image'
          scan-ref: '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}'
          format: 'github'
          output: 'docker-dependency-results.sbom.json'
          github-pat: '${{ secrets.GITHUB_TOKEN }}'
          upload-artifact: 'true'

      - name: Generate SBOM for the app code
        uses: ./.github/actions/trivy
        with:
          scan-type: 'fs'
          scan-ref: 'app'
          format: 'github'
          output: 'app-dependency-results.sbom.json'
          github-pat: '${{ secrets.GITHUB_TOKEN }}'
          upload-artifact: 'true'
