name: App CI

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  semgrep:
    if: (github.actor != 'dependabot[bot]')
    permissions:
      # This permission is required when uploading sarifs to GitHub
      security-events: write
      actions: read
    defaults:
      run:
        working-directory: app
    runs-on: ubuntu-24.04
    container:
      image: semgrep/semgrep@sha256:46c44b623972875ebc6273adb3d725f0411f81b52f8e077aabf21629a6190c39 # v1.135.0
      options: --user root

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run semgrep
        run: |
          semgrep scan --config auto --sarif > semgrep.sarif

      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        with:
          sarif_file: semgrep.sarif
        if: always()

  pytest:
    needs: semgrep
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: app

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          version: "0.8.15"
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --locked --all-extras --dev

      - name: Test with pytest
        run: |
          uv run pytest tests

      - name: Minimize uv cache
        run: uv cache prune --ci
