name: pre-commit

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          version: "0.8.15"
          enable-cache: true

      - name: Cache pre-commit dependencies
        id: cache_pre_commit
        uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3.4.3
        env:
          cache-name: cache-pre-commit
        with:
          path: |
            .pre_commit_venv
            ~/.cache/pre-commit
          key: ${{ env.cache-name }}-${{ hashFiles('.pre-commit-config.yaml', '~/.cache/pre-commit/*') }}

      - name: Install pre-commit
        if: steps.cache_pre_commit.outputs.cache-hit != 'true'
        run: |
          uv venv .pre_commit_venv
          source .pre_commit_venv/bin/activate
          uv tool install pre-commit
          pre-commit install --install-hooks --hook-type pre-commit --hook-type commit-msg --hook-type pre-push
          pre-commit gc

      - run: >-
          git fetch --no-tags --prune --depth=1 origin
          +refs/heads/*:refs/remotes/origin/*

      - name: Get changed directories
        id: changed_directories
        env:
          BASE_REF: ${{ github.base_ref }}
          SHA: ${{ github.sha }}
        run: |
          export CHANGED_DIRS=$(git diff --name-only "origin/$BASE_REF" "$SHA" | awk -F/ '{print $1}' | sort -u)
          echo "Changed directories: $CHANGED_DIRS"
          echo "$CHANGED_DIRS" >> $GITHUB_OUTPUT

      - name: Check if only one folder was modified
        id: check_single_folder
        run: |
          if [ $(echo "$CHANGED_DIRS" | wc -l) -ne 1 ]; then
            echo "More than one folder was modified."
            exit 1
          elif [ $(echo "$CHANGED_DIRS" | wc -w) -eq 1 ]; then
            echo "Only one folder was modified."
          else
            echo "More than one folder was modified."
            exit 1
          fi

      - name: Install hadolint
        if: success() && steps.check_single_folder.conclusion == 'success' && contains(steps.changed_directories.outputs.CHANGED_DIRS, 'app')
        run: >-
          curl -L "$(
          curl -s https://api.github.com/repos/hadolint/hadolint/releases/latest
          | grep -o -E -i -m 1 "https://.+?/hadolint-linux-x86_64"
          )"
          > hadolint
          && chmod +x hadolint && sudo mv hadolint /usr/bin/

      - name: Run pre-commit hooks
        run: |
          source .pre_commit_venv/bin/activate
          SKIP=no-commit-to-branch pre-commit run --color=always --show-diff-on-failure

      - name: Push fixes
        if: failure()
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          message: '[pre-commit] Autofix violations'

      - name: Trigger workflow for "app"
        if: steps.check_single_folder.conclusion == 'success' && contains(steps.changed_directories.outputs.CHANGED_DIRS, 'app')
        run: >-
          curl -L
          -X POST
          -H "Accept: application/vnd.github+json"
          -H "Authorization: Bearer ${{ secrets.TEST_HIVEBOX_DISPATCH_PAT }}"
          -H "X-GitHub-Api-Version: 2022-11-28"
          https://api.github.com/repos/${{ github.repository }}/actions/workflows/app.yaml/dispatches
          -d '{"ref":"$GITHUB_HEAD_REF"}'
